@import 'https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,400i,700,700i';
html,
body {
  height: 100%;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  -webkit-appearance: inherit;
  -moz-appearance: inherit;
}
body {
  margin: 0;
  background-color: #fff;
  font: 16px/1 Roboto, sans-serif;
  color: #000;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
li {
  display: block;
}
dl {
  margin-top: 0;
  margin-bottom: 0;
}
dd {
  margin-left: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: inherit;
}
blockquote {
  margin: 0;
  padding: 0;
}
p {
  margin-top: 0;
  margin-bottom: 0;
}
sup {
  position: relative;
  top: -0.5em;
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
}
strong {
  font-weight: bold;
}
figure {
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
a:focus {
  outline-color: inherit;
  outline-style: dotted;
  outline-width: thin;
}
img {
  max-width: 100%;
  height: auto;
  border: 0;
  vertical-align: middle;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
body {
  background: #eaeaea url('../img/body-bg.png');
}
.layout {
  min-height: 100%;
  margin-bottom: -100px;
}
.layout:after {
  content: '';
  display: block;
}
.layout,
.footer {
  max-width: 100%;
  min-width: 1200px;
}
.footer,
.layout:after {
  height: 100px;
}
.footer {
  background-color: #ca3939;
}
.footer:before,
.footer:after {
  content: " ";
  display: table;
}
.footer:after {
  clear: both;
}
.footer:before,
.footer:after {
  content: " ";
  display: table;
}
.footer:after {
  clear: both;
}
.inner {
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  padding: 0 10px;
  background-color: rgba(255, 255, 255, 0.45);
}
.inner:before,
.inner:after {
  content: " ";
  display: table;
}
.inner:after {
  clear: both;
}
.inner:before,
.inner:after {
  content: " ";
  display: table;
}
.inner:after {
  clear: both;
}
.inner_header-menu {
  padding: 0;
  background-color: #ca3939;
}
.inner_slider {
  padding: 0;
}
.inner_main {
  padding: 0;
}
.typography h1,
.typography h2,
.typography h3,
.typography h4,
.typography h5,
.typography h6 {
  margin: 56px 0 28px;
  font-weight: 900;
  line-height: 1.2;
  clear: both;
}
.typography h1 {
  font-size: 33px;
}
.typography h2 {
  font-size: 28px;
}
.typography h3 {
  font-size: 23px;
}
.typography h4,
.typography h5,
.typography h6 {
  font-size: 19px;
}
.typography h1:first-child,
.typography h2:first-child,
.typography h3:first-child,
.typography h4:first-child,
.typography h5:first-child,
.typography h6:first-child {
  margin-top: 0;
}
.typography p {
  margin: 0 0 8px;
}
.typography p + ul {
  margin: 0 0 30px;
}
.typography a {
  color: #a42c2c;
  border-bottom: 2px solid #eab2b2;
}
.typography a:active {
  color: red;
  border-bottom-color: #E69898;
}
.typography a:visited {
  color: indigo;
  border-bottom-color: #A285B7;
}
.typography ul,
.typography ol {
  margin: 16px 0;
  padding-left: 40px;
}
.typography li {
  display: list-item;
}
.typography .alignleft {
  float: left;
  margin: 6px 28px 28px 0;
}
.typography .alignright {
  float: right;
  margin: 6px 0 28px 28px;
}
.typography .aligncenter {
  clear: both;
  display: block;
  margin: 0 auto 28px;
}
.header {
  height: 100px;
}
.header:before,
.header:after {
  content: " ";
  display: table;
}
.header:after {
  clear: both;
}
.header:before,
.header:after {
  content: " ";
  display: table;
}
.header:after {
  clear: both;
}
.header__b-left,
.header__b-right {
  width: 50%;
}
.header__b-left {
  float: left;
}
.header__b-right {
  float: right;
}
.header-contacts {
  margin-top: 16px;
  line-height: 1.3;
  font-size: 25px;
  text-align: right;
}
.header-contacts__phone,
.header-contacts__e-mail {
  position: relative;
}
.header-contacts__phone:before,
.header-contacts__e-mail:before {
  content: '';
  position: absolute;
  display: block;
  width: 24px;
  height: 24px;
}
.header-contacts__phone:before {
  right: 200px;
  top: 5px;
  background-image: url('../img/phone.png');
}
.header-contacts__e-mail:before {
  right: 170px;
  top: 5px;
  background-image: url('../img/email.png');
}
.header-menu {
  height: 50px;
  background-color: #ca3939;
  overflow: hidden;
}
.header-menu ul .current-menu-item {
  background-color: #e04444;
}
.header-menu ul li {
  display: inline-block;
  margin-right: -4px;
}
.header-menu ul li a {
  display: block;
  height: 50px;
  padding: 15px 20px;
  color: #fff;
  font-size: 18px;
  background-color: transparent;
  text-shadow: 0px -1px 0px #a42c2c;
  transition: background-color ease-in-out 0.3s;
}
.header-menu ul li a:hover {
  background-color: #e04444;
  transition: background-color ease-in-out 0.1s;
}
.slider {
  height: 400px;
  overflow: hidden;
}
.main {
  margin: 20px 0;
}
.main:before,
.main:after {
  content: " ";
  display: table;
}
.main:after {
  clear: both;
}
.main:before,
.main:after {
  content: " ";
  display: table;
}
.main:after {
  clear: both;
}
.main__b-left,
.main__b-right {
  width: 50%;
  padding: 0 10px;
}
.main__b-left {
  float: left;
}
.main__b-left_full-width {
  width: 1200px;
}
.main__b-right {
  float: right;
}
.main__band {
  width: 350px;
  height: 50px;
  margin-bottom: 20px;
  background-color: #ca3939;
  text-align: center;
  overflow: hidden;
}
.main__band_no-band {
  width: 600px;
  margin-left: -10px;
}
.main__band_left {
  margin-left: -25px;
}
.main__band_left:before {
  content: '';
  display: block;
  position: absolute;
  margin: 50px 0 0 0;
  border-left: 15px solid transparent;
  border-top: 10px solid #7c2121;
}
.main__caption {
  color: #fff;
  font-family: 'Roboto Slab', serif;
  font-size: 25px;
  line-height: 2;
  font-weight: 400;
  text-transform: uppercase;
  text-shadow: 0px -1px 0px #a42c2c;
}
.main__content {
  margin-bottom: 20px;
  line-height: 1.5;
}
.main-news-item {
  height: 150px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: rgba(216, 216, 216, 0.5);
  overflow: hidden;
}
.main-news-item__title {
  margin-bottom: 10px;
  color: #902727;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.main-news-item__excerpt {
  height: 49px;
  overflow: hidden;
}
.main-news-item__read-more {
  display: block;
  width: 150px;
  height: 40px;
  margin-top: 10px;
  border: 2px solid #a42c2c;
  color: #a42c2c;
  background-color: transparent;
  font-size: 15px;
  line-height: 2.4;
  text-align: center;
  text-transform: uppercase;
  transition: color ease-in-out 0.3s, background-color ease-in-out 0.3s;
}
.main-news-item__read-more:hover {
  color: #fff;
  background-color: #a42c2c;
  transition: color ease-in-out 0.1s, background-color ease-in-out 0.1s;
}
.main-catalog {
  width: 940px;
  margin: 0 auto;
}
.category {
  width: 940px;
  margin: 50px auto;
}
.category:before,
.category:after {
  content: " ";
  display: table;
}
.category:after {
  clear: both;
}
.category:before,
.category:after {
  content: " ";
  display: table;
}
.category:after {
  clear: both;
}
.category__caption {
  margin-bottom: 50px;
  font-family: 'Roboto Slab', serif;
  font-size: 35px;
  text-align: center;
}
.category__caption_child {
  text-align: left;
}
.category__item {
  display: block;
  width: 220px;
  height: 300px;
  float: left;
  margin: 0 20px 20px 0;
  padding: 10px;
  background-color: #a42c2c;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.55);
  transition: background-color ease-in-out 0.3s, box-shadow ease-in-out 0.3s;
}
.category__item:nth-child(4n) {
  margin-right: 0;
}
.category__item:hover {
  background-color: #902727;
  box-shadow: 0 10px 22px rgba(0, 0, 0, 0.55);
  transition: background-color ease-in-out 0.3s, box-shadow ease-in-out 0.3s;
}
.category__img {
  width: 200px;
  height: 200px;
}
.category__title {
  display: block;
  width: 200px;
  height: 40px;
  margin-top: 25px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  word-wrap: break-word;
  overflow: hidden;
}
.category-default__item {
  display: block;
  width: 940px;
  height: 100px;
  margin-bottom: 20px;
  border: 1px solid #000;
  overflow: hidden;
}
.category-default__img {
  width: 100px;
  height: 100px;
  border-right: 1px solid #000;
}
.category-default__title {
  margin-left: 20px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
}
.single-and-page {
  width: 940px;
  margin: 50px auto;
}
.single-and-page:before,
.single-and-page:after {
  content: " ";
  display: table;
}
.single-and-page:after {
  clear: both;
}
.single-and-page:before,
.single-and-page:after {
  content: " ";
  display: table;
}
.single-and-page:after {
  clear: both;
}
.single-and-page__caption {
  margin-bottom: 50px;
  font-family: 'Roboto Slab', serif;
  font-size: 35px;
  text-align: center;
}
.single-and-page__caption_child {
  text-align: left;
}
.single-and-page__content {
  line-height: 1.5;
}
.footer__b-left,
.footer__b-right,
.footer__b-center {
  float: left;
  color: #902727;
  line-height: 1.2;
}
.footer__b-left,
.footer__b-right {
  width: 510px;
}
.footer__b-center {
  width: 160px;
}
.footer__info {
  width: 160px;
  height: 50px;
  float: left;
  margin-top: 35px;
  overflow: hidden;
}
.footer__copy {
  width: 160px;
  height: 20px;
  margin-top: 40px;
  overflow: hidden;
}
/* overlay at start */
.mfp-fade.mfp-bg {
  opacity: 0;
  transition: all 0.15s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}
/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  transition: all 0.15s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}
