@import 'https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i';
html,
body {
  height: 100%;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
li {
  display: block;
}
dl {
  margin-top: 0;
  margin-bottom: 0;
}
dd {
  margin-left: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: inherit;
}
blockquote {
  margin: 0;
  padding: 0;
}
p {
  margin-top: 0;
  margin-bottom: 0;
}
sup {
  position: relative;
  top: -0.5em;
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
}
strong {
  font-weight: bold;
}
figure {
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
a:focus {
  outline-color: inherit;
  outline-style: dotted;
  outline-width: thin;
}
img {
  max-width: 100%;
  height: auto;
  border: 0;
  vertical-align: middle;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.typography h1,
.typography h2,
.typography h3,
.typography h4,
.typography h5,
.typography h6 {
  margin: 56px 0 28px;
  font-weight: 900;
  line-height: 1.2;
  clear: both;
}
.typography h1 {
  font-size: 33px;
}
.typography h2 {
  font-size: 28px;
}
.typography h3 {
  font-size: 23px;
}
.typography h4,
.typography h5,
.typography h6 {
  font-size: 19px;
}
.typography h1:first-child,
.typography h2:first-child,
.typography h3:first-child,
.typography h4:first-child,
.typography h5:first-child,
.typography h6:first-child {
  margin-top: 0;
}
.typography p {
  margin: 0 0 8px;
  text-indent: 28px;
  line-height: 1.5;
}
.typography p + ul {
  margin: 0 0 30px;
}
.typography a {
  color: #e08888;
  border-bottom: 1px solid #f5d9d9;
  transition: border-bottom ease-in-out 0.3s, color ease-in-out 0.3s;
}
.typography a:hover {
  color: #cb3737;
  border-bottom: 2px solid #cb3737;
  transition: border-bottom ease-in-out 0.1s, color ease-in-out 0.1s;
}
.typography a:active {
  color: red;
  border-bottom-color: #e69898;
  transition: border-bottom ease-in-out 0.1s, color ease-in-out 0.1s;
}
.typography a:active:hover {
  color: #ff6666;
  border-bottom-color: #ff3333;
  transition: border-bottom ease-in-out 0.1s, color ease-in-out 0.1s;
}
.typography a:visited {
  color: indigo;
  border-bottom-color: #a285B7;
  transition: border-bottom ease-in-out 0.1s, color ease-in-out 0.1s;
}
.typography a:visited:hover {
  color: #8600e8;
  border-bottom-color: #6800b5;
  transition: border-bottom ease-in-out 0.1s, color ease-in-out 0.1s;
}
.typography ul,
.typography ol {
  margin: 16px 0;
  padding-left: 40px;
}
.typography li {
  display: list-item;
}
.typography .alignleft {
  float: left;
  margin: 6px 28px 28px 0;
}
.typography .alignright {
  float: right;
  margin: 6px 0 28px 28px;
}
.typography .aligncenter {
  clear: both;
  display: block;
  margin: 0 auto 28px;
}
::-moz-selection {
  background: #cb3737;
  color: #ffffff;
}
::selection {
  background: #cb3737;
  color: #ffffff;
}
body {
  background-color: #f5f5f5;
  font: 16px/1 Roboto, sans-serif;
  color: #333333;
}
.layout {
  min-height: 100%;
  margin-bottom: -100px;
}
.layout:after {
  content: '';
  display: block;
  height: 100px;
}
.layout,
.footer {
  max-width: 100%;
  min-width: 1080px;
}
.footer {
  height: 100px;
  margin-top: 50px;
  background-color: #dedede;
}
.footer:before,
.footer:after {
  content: " ";
  display: table;
}
.footer:after {
  clear: both;
}
.footer:before,
.footer:after {
  content: " ";
  display: table;
}
.footer:after {
  clear: both;
}
.inner {
  width: 1080px;
  min-height: 100%;
  margin: 0 auto;
  padding: 0 10px;
}
.inner:before,
.inner:after {
  content: " ";
  display: table;
}
.inner:after {
  clear: both;
}
.inner:before,
.inner:after {
  content: " ";
  display: table;
}
.inner:after {
  clear: both;
}
.header-info {
  margin-top: 15px;
}
.header-info:before,
.header-info:after {
  content: " ";
  display: table;
}
.header-info:after {
  clear: both;
}
.header-info:before,
.header-info:after {
  content: " ";
  display: table;
}
.header-info:after {
  clear: both;
}
.header-info > div {
  float: left;
}
.header-info .logo {
  margin-right: 20px;
}
.header-info .site-desc {
  width: 150px;
  margin-top: 8px;
  margin-right: 125px;
  color: #a5a3a3;
  font-size: 11px;
  line-height: 1.2;
}
.header-info .phone {
  position: relative;
  margin-top: 5px;
  margin-right: 40px;
}
.header-info .phone:before {
  content: '';
  position: absolute;
  display: block;
  width: 10px;
  height: 10px;
  background: transparent url('../img/phone.png') 0 0 no-repeat;
  top: 3px;
  left: -17px;
}
.header-info .back-call,
.header-info .pay-debt {
  margin-top: 5px;
  color: #cb3737;
  font-size: 14px;
}
.header-info .back-call a,
.header-info .pay-debt a {
  border-bottom: 1px solid #cb3737;
}
.back-call {
  margin-right: 90px;
}
.pay-debt {
  position: relative;
}
.pay-debt:before {
  content: '';
  position: absolute;
  display: block;
  width: 17px;
  height: 19px;
  background: transparent url('../img/pay-debt.png') 0 0 no-repeat;
  top: -1px;
  left: -27px;
}
.header-menu {
  margin-top: 25px;
}
.header-menu ul {
  font-size: 0;
  text-align: center;
  background: #f9f9f9;
  background: linear-gradient(to bottom, #f9f9f9 0%, #d9d9d9 100%);
  border: 1px solid #e2e2e2;
  border-radius: 7px;
  box-shadow: 0 30px 35px -20px rgba(0, 0, 0, 0.25);
}
.header-menu ul li {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.header-menu ul li:after {
  content: '';
  position: absolute;
  display: block;
  width: 1px;
  height: 38px;
  background-image: url('../img/menu-item-saparator.png');
  right: 0;
  top: 14px;
}
.header-menu ul li:last-child:after {
  display: none;
}
.header-menu ul li a {
  position: relative;
  display: block;
  width: 176.3px;
  padding: 23px 0;
  color: #595959;
  font-size: 16px;
  text-transform: lowercase;
  transition: background-color ease-in-out 0.3s;
}
.header-menu ul li a:hover {
  background-color: rgba(217, 217, 217, 0.26);
  transition: background-color ease-in-out 0.1s;
}
.header-slogan {
  width: 580px;
  margin-top: 30px;
  float: right;
}
.header-slogan > p:nth-of-type(1) {
  color: #383838;
  font-size: 25px;
  text-transform: lowercase;
}
.header-slogan > p:nth-of-type(2) {
  margin-top: 10px;
  color: #e33333;
  font-size: 100px;
  text-transform: uppercase;
}
.header-slogan > p:nth-of-type(3) {
  color: #e33333;
  font-size: 25px;
  text-transform: uppercase;
}
.header-slogan-add {
  margin-top: 25px;
  color: #989898;
}
.header-slogan-add:before,
.header-slogan-add:after {
  content: " ";
  display: table;
}
.header-slogan-add:after {
  clear: both;
}
.header-slogan-add:before,
.header-slogan-add:after {
  content: " ";
  display: table;
}
.header-slogan-add:after {
  clear: both;
}
.header-slogan-add > span {
  position: relative;
  display: block;
  float: left;
  margin-left: 40px;
}
.header-slogan-add > span:nth-of-type(1):before,
.header-slogan-add > span:nth-of-type(2):before {
  content: '';
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  left: -40px;
  top: -8px;
}
.header-slogan-add > span:nth-of-type(1):before {
  background-image: url('../img/percentage-rate.png');
}
.header-slogan-add > span:nth-of-type(2) {
  margin-left: 80px;
}
.header-slogan-add > span:nth-of-type(2):before {
  background-image: url('../img/two-rings.png');
}
.header-form {
  width: 580px;
  height: 340px;
  float: right;
  margin-top: 35px;
  padding: 0 120px;
  border-radius: 10px;
}
.header-form__caption {
  margin: 30px 0;
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
}
.header-form__caption > span {
  text-transform: uppercase;
}
.header-form .wpcf7 {
  text-align: center;
}
.header-form .wpcf7-form input[type="text"],
.header-form .wpcf7-form input[type="tel"],
.header-form .wpcf7-form input[type="email"],
.header-form .wpcf7-form textarea {
  width: 100%;
  height: 45px;
  margin-bottom: 20px;
  padding: 10px;
  font: 16px Roboto, sans-serif;
  border: 2px solid #d65f5f;
  border-radius: 5px;
  outline: none;
  transition: box-shadow ease-in-out 0.3s;
}
.header-form .wpcf7-form input[type="text"]:focus,
.header-form .wpcf7-form input[type="tel"]:focus,
.header-form .wpcf7-form input[type="email"]:focus,
.header-form .wpcf7-form textarea:focus {
  border: 2px solid #d65f5f;
  box-shadow: 0 0 25px #d65f5f;
  transition: box-shadow ease-in-out 0.1s;
}
.header-form .wpcf7-form input:-moz-ui-invalid {
  box-shadow: none;
}
.header-form .wpcf7-form textarea {
  height: 105px;
  resize: vertical;
}
.header-form .wpcf7-form input[type="submit"] {
  position: relative;
  margin: 0 48px 20px;
  padding: 10px 15px;
  top: 0;
  font: 18px Roboto, sans-serif;
  letter-spacing: 3px;
  color: #ffffff;
  background-color: #cb3737;
  box-shadow: 0 4px 25px -5px rgba(0, 0, 0, 0.45);
  border: 1px solid #ffffff;
  border-radius: 5px;
  text-transform: uppercase;
  text-shadow: 0px 1px 0px #a42b2b;
  outline: none;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.header-form .wpcf7-form input[type="submit"]:active {
  top: 3px;
  box-shadow: none;
}
.header-form .wpcf7-form input[type="submit"]:focus {
  background-color: #d65f5f;
}
.header-form .wpcf7-form input[type="submit"]:hover {
  background-color: #d65f5f;
}
.header-form .wpcf7-form img.ajax-loader {
  display: none;
}
.header-form .wpcf7-form .ajax-loader.is-active {
  visibility: hidden;
}
.header-form .wpcf7-form .ajax-loader {
  display: none;
}
.header-form span.wpcf7-not-valid-tip {
  width: 100%;
  color: #f7e700;
  font-size: 12px !important;
  margin: -10px 0 10px 0;
}
.header-form div.wpcf7-response-output {
  display: none !important;
  margin-top: 20px !important;
}
.header-form .wpcf7-recaptcha {
  width: 304px;
  margin: 0 auto;
}
.layout_index {
  position: relative;
  max-width: 1920px;
  min-height: 741px;
  height: 741px;
  margin: 0 auto 0 auto;
  background: transparent url('../img/index-man.jpg') center / cover no-repeat;
}
.promo {
  position: relative;
  max-width: 1265px;
  height: 225px;
  margin: 0 auto;
  background: transparent url('../img/promo.jpg') center / cover no-repeat;
  z-index: -1;
}
.middle-menu-list {
  width: 930px;
  height: 75px;
  margin: 0 auto;
  font-size: 0;
  text-align: center;
  background-color: transparent;
}
.have-child-menu {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.have-child-menu__link {
  position: relative;
  display: block;
  padding: 20px 191px;
  color: #cb3737;
  background-color: transparent;
  font-size: 25px;
  transition: color ease-in-out 0.1s, background-color ease-in-out 0.1s;
}
.have-child-menu:first-child {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top: 5px solid #d5662e;
  border-bottom: 5px solid #d5662e;
  border-left: 5px solid #d5662e;
}
.have-child-menu:first-child .have-child-menu__link {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
.have-child-menu:first-child:hover .have-child-menu__link {
  color: #ffffff;
  background-color: #d5662e;
  transition: color ease-in-out 0.3s, background-color ease-in-out 0.3s;
}
.have-child-menu:first-child:hover .sub-menu {
  visibility: visible;
  opacity: 1;
}
.have-child-menu:first-child:hover .sub-menu:before {
  top: -20px;
  left: 290px;
}
.have-child-menu:last-child {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-top: 5px solid #d5662e;
  border-bottom: 5px solid #d5662e;
  border-right: 5px solid #d5662e;
}
.have-child-menu:last-child .have-child-menu__link {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
.have-child-menu:last-child .sub-menu {
  margin-left: -523px;
}
.have-child-menu:last-child:hover .have-child-menu__link {
  color: #ffffff;
  background-color: #d5662e;
  transition: color ease-in-out 0.3s, background-color ease-in-out 0.3s;
}
.have-child-menu:last-child:hover .sub-menu {
  visibility: visible;
  opacity: 1;
}
.have-child-menu:last-child:hover .sub-menu:before {
  display: block;
  top: -20px;
  left: 720px;
}
.have-child-menu .sub-menu {
  position: absolute;
  width: 1060px;
  margin-top: 25px;
  margin-left: -70px;
  font-size: 0;
  text-align: center;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 0 70px rgba(0, 0, 0, 0.1);
  visibility: hidden;
  opacity: 0;
  transition: opacity ease-in-out 0.3s;
}
.have-child-menu .sub-menu:before {
  content: '';
  position: absolute;
  display: block;
  border-bottom: 20px solid #ffffff;
  border-right: 30px solid transparent;
  border-left: 30px solid transparent;
}
.have-child-menu .sub-menu li {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.have-child-menu .sub-menu li a {
  position: relative;
  width: 131px;
  height: 100px;
  margin: 25px 15px;
  display: block;
  color: #595959;
  font-size: 14px;
  transition: background-color ease-in-out 0.3s, color ease-in-out 0.3s;
}
.have-child-menu .sub-menu li a:hover {
  color: #000;
  background-color: rgba(230, 230, 230, 0.1);
  transition: background-color ease-in-out 0.1s, color ease-in-out 0.1s;
}
.have-child-menu .sub-menu li a span {
  display: block;
  margin-top: 10px;
}
.girl {
  width: 847px;
  height: 986px;
  float: left;
  background: transparent url('../img/girl.jpg') 0 0 no-repeat;
}
.news {
  width: 213px;
  float: left;
  margin-top: 40px;
}
.news__item {
  margin-bottom: 35px;
}
.news .caption {
  color: #000000;
  font-size: 22px;
  margin-bottom: 45px;
}
.news .title {
  height: 32px;
  margin-bottom: 10px;
  overflow: hidden;
}
.news .desc {
  height: 28px;
  margin-bottom: 10px;
  color: #969696;
  font-size: 14px;
  overflow: hidden;
}
.news .read-more {
  color: #cb3737;
  font-size: 14px;
}
.news .read-more a {
  border-bottom: 1px solid #cb3737;
}
.index-footer-map {
  position: relative;
  max-width: 1920px;
  height: 720px;
  margin: 0 auto;
}
.map-address-list-wrap {
  position: relative;
  height: 720px;
  top: -720px;
}
.map-address-list-wrap .inner {
  background: rgba(0, 116, 217, 0.26);
}
.woocommerce-breadcrumb {
  margin-bottom: 50px;
}
.term-description {
  margin-bottom: 15px;
}
.product-list:before,
.product-list:after {
  content: " ";
  display: table;
}
.product-list:after {
  clear: both;
}
.product-list:before,
.product-list:after {
  content: " ";
  display: table;
}
.product-list:after {
  clear: both;
}
.product-list > li.product-category {
  width: 250px;
  margin: 0 15px 15px 0;
  float: left;
}
.product-list > li.product-category:nth-child(3n) {
  margin-right: 0;
}
.product-list > li.product-category > a > h3 {
  position: relative;
  display: block;
  width: 245px;
  height: 44px;
  margin-top: 10px;
  font-size: 19px;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  word-wrap: break-word;
  overflow: hidden;
}
.product-list > li.product-category > a > h3:before {
  content: " ";
  display: inline-block;
  height: 100%;
  width: 1%;
  margin: -2px;
  vertical-align: middle;
}
.product-list > li.product-category > a > h3 > p {
  display: inline-block;
  vertical-align: middle;
}
a.added_to_cart {
  display: none;
}
a.button,
button.button,
input.button,
#respond input#submit {
  position: relative;
}
a.button.loading,
button.button.loading,
input.button.loading,
#respond input#submit.loading {
  opacity: 0.25;
}
a.button.loading:after,
button.button.loading:after,
input.button.loading:after,
#respond input#submit.loading:after {
  font-family: "WooCommerce";
  content: "\e01c";
  vertical-align: top;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  position: absolute;
  top: 0.818em;
  right: 1.7em;
  -webkit-animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
a.button.added:after,
button.button.added:after,
input.button.added:after,
#respond input#submit.added:after {
  position: absolute;
  font-family: 'WooCommerce';
  content: "\e017";
  margin: 0 0 0 2.2em;
  vertical-align: bottom;
}
.product:before,
.product:after {
  content: " ";
  display: table;
}
.product:after {
  clear: both;
}
.product:before,
.product:after {
  content: " ";
  display: table;
}
.product:after {
  clear: both;
}
.product .images {
  float: left;
  width: 360px;
}
.product .images img {
  width: 360px;
  height: 360px;
  border: 3px solid #f2f2ef;
}
.product .images .thumbnails:before,
.product .images .thumbnails:after {
  content: " ";
  display: table;
}
.product .images .thumbnails:after {
  clear: both;
}
.product .images .thumbnails:before,
.product .images .thumbnails:after {
  content: " ";
  display: table;
}
.product .images .thumbnails:after {
  clear: both;
}
.product .images .thumbnails a {
  display: block;
  float: left;
  width: 60px;
  height: 60px;
  margin: 15px 15px 0 0;
}
.product .images .thumbnails a:nth-child(5n) {
  margin-right: 0;
}
.product .images .thumbnails img {
  width: 60px;
  height: 60px;
}
.product .summary {
  width: 430px;
  float: left;
  padding-left: 50px;
}
.product .summary:before,
.product .summary:after {
  content: " ";
  display: table;
}
.product .summary:after {
  clear: both;
}
.product .summary:before,
.product .summary:after {
  content: " ";
  display: table;
}
.product .summary:after {
  clear: both;
}
.product .summary .product_title {
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 1.2;
}
.product .summary div[itemprop="description"] {
  margin-bottom: 30px;
  font-size: 15px;
  line-height: 1.5;
}
.product .summary .price {
  font-size: 37px;
  margin-bottom: 20px;
}
.product .variations_form,
.product .cart {
  margin-left: 20px;
}
.product .variations {
  margin-bottom: 30px;
}
.product .variations select {
  width: 225px;
  height: 35px;
  padding: 0 30px 0 10px;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  background: #f5f5f5 url('../img/variations-select.png') 200px 14px no-repeat;
  border-radius: 3px;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.product .variations .label {
  color: #a0a0a0;
  font-size: 15px;
}
.product .quantity {
  width: 40px;
  height: 82px;
  float: left;
}
.product .quantity input {
  display: block;
}
.product .quantity input[type="number"] {
  width: 40px;
  height: 40px;
  font-family: Roboto, sans-serif;
  font-size: 19px;
  background-color: #eaeaea;
  border-radius: 3px;
  border: 0;
  text-align: center;
}
.product .quantity input::-webkit-outer-spin-button,
.product .quantity input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.product .quantity input[type="number"] {
  -moz-appearance: textfield;
}
.product .quantity .plus,
.product .quantity .minus {
  width: 16px;
  height: 9px;
  margin-left: 12px;
  padding: 0;
  background-color: transparent;
  border: 0;
}
.product .quantity .plus {
  margin-bottom: 12px;
  background: transparent url('../img/qty-plus.png') 0 0 no-repeat;
}
.product .quantity .minus {
  margin-top: 12px;
  background: transparent url('../img/qty-minus.png') 0 0 no-repeat;
}
.product .woocommerce-variation-add-to-cart:before,
.product .woocommerce-variation-add-to-cart:after {
  content: " ";
  display: table;
}
.product .woocommerce-variation-add-to-cart:after {
  clear: both;
}
.product .woocommerce-variation-add-to-cart:before,
.product .woocommerce-variation-add-to-cart:after {
  content: " ";
  display: table;
}
.product .woocommerce-variation-add-to-cart:after {
  clear: both;
}
.product .quantity-name {
  float: left;
  margin: 30px 0 0 10px;
  font-size: 15px;
}
.product .single_add_to_cart_button {
  width: 265px;
  height: 50px;
  float: left;
  margin: 12px 0 0 30px;
  padding-left: 50px;
  background: #cb3737 url('../img/basket.png') 35px 13px no-repeat;
  border: 0;
  border-radius: 50px;
  color: #ffffff;
  font-size: 15px;
}
.product .reset_variations {
  visibility: hidden !important;
}
.layout_shop {
  position: relative;
  max-width: 1920px;
  min-height: 490px;
  height: 490px;
  margin: 0 auto;
  background: transparent url('../img/header-shop-bg.jpg') center / cover no-repeat;
}
.layout_shop .header-slogan,
.layout_shop .header-form {
  display: none;
}
.content-shop {
  margin-top: 50px;
}
.content-shop:before,
.content-shop:after {
  content: " ";
  display: table;
}
.content-shop:after {
  clear: both;
}
.content-shop:before,
.content-shop:after {
  content: " ";
  display: table;
}
.content-shop:after {
  clear: both;
}
.content-shop .b-left {
  width: 250px;
  float: left;
  margin-right: 20px;
}
.content-shop .b-right {
  width: 790px;
  float: right;
}
.content-shop .caption-shop {
  margin-bottom: 20px;
  color: #000000;
  font-size: 22px;
}
.content-shop .shop-menu-left .caption {
  margin-bottom: 20px;
  color: #000000;
  font-size: 22px;
  text-align: center;
}
.content-shop .shop-menu-left ul {
  padding: 30px 15px;
  background-color: #ffffff;
  border-radius: 3px;
}
.content-shop .shop-menu-left li {
  position: relative;
  margin-bottom: 10px;
}
.content-shop .shop-menu-left a {
  position: relative;
  display: block;
  margin-left: 20px;
  font-size: 14px;
  line-height: 1.5;
}
.content-shop .shop-menu-left a:before {
  content: '';
  position: absolute;
  display: block;
  width: 15px;
  height: 15px;
  background-image: url('../img/shop-menu-item.png');
  left: -20px;
  top: 3px;
}
.content-shop .shop-menu-left a span {
  border-bottom: 1px solid #333333;
}
.product-list:before,
.product-list:after {
  content: " ";
  display: table;
}
.product-list:after {
  clear: both;
}
.product-list:before,
.product-list:after {
  content: " ";
  display: table;
}
.product-list:after {
  clear: both;
}
.product-item {
  width: 250px;
  margin-right: 20px;
  margin-bottom: 20px;
  float: left;
  background-color: #ffffff;
  border-radius: 3px;
}
.product-item:nth-of-type(3n) {
  margin-right: 0;
}
.product-item__link {
  display: block;
}
.product-item__link span {
  display: block;
}
.product-item__link .thumb {
  width: 250px;
  height: 160px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  overflow: hidden;
}
.product-item__link .thumb img {
  display: block;
  margin: 0 auto;
}
.product-item__link .price {
  margin: 20px 0;
  font-size: 24px;
  text-align: center;
}
.product-item__link .price span {
  display: inline;
  font-size: 14px;
}
.product-item__link .title {
  height: 38px;
  margin-bottom: 10px;
  line-height: 1.2;
  text-align: center;
  overflow: hidden;
}
.product-item__buy-link {
  position: relative;
  display: block;
  padding: 15px 85px;
  color: #ffffff;
  background-color: #cb3737;
  font-size: 18px;
  font-weight: 700;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.product-item__buy-link:before {
  content: '';
  position: absolute;
  display: block;
  width: 25px;
  height: 22px;
  background-image: url('../img/basket.png');
  left: 50px;
  top: 13px;
}
.layout_page-antikvariat,
.layout_page-mehovie,
.layout_page-chasi,
.layout_page-stroi-instrument,
.layout_page-nedvizhimost,
.layout_page-telefoni,
.layout_page-komputeri,
.layout_page-tv,
.layout_page-torgovoe-oborydovanie,
.layout_page-ofisnaya-tehnika,
.layout_page-bitovaya-tehnika {
  position: relative;
  max-width: 1920px;
  min-height: 741px;
  height: 741px;
  margin: 0 auto;
}
.layout_page-antikvariat .header-slogan-add,
.layout_page-mehovie .header-slogan-add,
.layout_page-chasi .header-slogan-add,
.layout_page-stroi-instrument .header-slogan-add,
.layout_page-nedvizhimost .header-slogan-add,
.layout_page-telefoni .header-slogan-add,
.layout_page-komputeri .header-slogan-add,
.layout_page-tv .header-slogan-add,
.layout_page-torgovoe-oborydovanie .header-slogan-add,
.layout_page-ofisnaya-tehnika .header-slogan-add,
.layout_page-bitovaya-tehnika .header-slogan-add,
.layout_page-antikvariat .header-form__caption,
.layout_page-mehovie .header-form__caption,
.layout_page-chasi .header-form__caption,
.layout_page-stroi-instrument .header-form__caption,
.layout_page-nedvizhimost .header-form__caption,
.layout_page-telefoni .header-form__caption,
.layout_page-komputeri .header-form__caption,
.layout_page-tv .header-form__caption,
.layout_page-torgovoe-oborydovanie .header-form__caption,
.layout_page-ofisnaya-tehnika .header-form__caption,
.layout_page-bitovaya-tehnika .header-form__caption {
  display: none;
}
.layout_page-antikvariat .wpcf7-form,
.layout_page-mehovie .wpcf7-form,
.layout_page-chasi .wpcf7-form,
.layout_page-stroi-instrument .wpcf7-form,
.layout_page-nedvizhimost .wpcf7-form,
.layout_page-telefoni .wpcf7-form,
.layout_page-komputeri .wpcf7-form,
.layout_page-tv .wpcf7-form,
.layout_page-torgovoe-oborydovanie .wpcf7-form,
.layout_page-ofisnaya-tehnika .wpcf7-form,
.layout_page-bitovaya-tehnika .wpcf7-form {
  margin-top: 80px;
}
.layout_post .header-slogan,
.layout_post .header-form {
  display: none;
}
.layout_page-antikvariat {
  background: transparent url('../img/page-antikvariat.jpg') center / cover no-repeat;
}
.layout_page-mehovie {
  background: transparent url('../img/page-mehovie.jpg') center / cover no-repeat;
}
.layout_page-chasi {
  background: transparent url('../img/page-chasi.jpg') center / cover no-repeat;
}
.layout_page-stroi-instrument {
  background: transparent url('../img/page-stroi-instrument.jpg') center / cover no-repeat;
}
.layout_page-nedvizhimost {
  background: transparent url('../img/page-nedvizhimost.jpg') center / cover no-repeat;
}
.layout_page-telefoni {
  background: transparent url('../img/page-telefoni.jpg') center / cover no-repeat;
}
.layout_page-komputeri {
  background: transparent url('../img/page-komputeri.jpg') center / cover no-repeat;
}
.layout_page-tv {
  background: transparent url('../img/page-tv.jpg') center / cover no-repeat;
}
.layout_page-torgovoe-oborydovanie {
  background: transparent url('../img/page-torgovoe-oborydovanie.jpg') center / cover no-repeat;
}
.layout_page-ofisnaya-tehnika {
  background: transparent url('../img/page-ofisnaya-tehnika.jpg') center / cover no-repeat;
}
.layout_page-bitovaya-tehnika {
  background: transparent url('../img/page-bitovaya-tehnika.jpg') center / cover no-repeat;
}
.middle-menu_page-tax {
  margin-top: 25px;
  margin-bottom: 30px;
}
.post-content {
  width: 800px;
  float: left;
  margin-top: 40px;
  margin-right: 47px;
}
.post-content h1.content-caption {
  color: #000000;
  font-size: 22px;
  margin-bottom: 45px;
}
.post-content .content {
  padding: 25px;
  background-color: #ffffff;
  box-shadow: 0 0 70px rgba(0, 0, 0, 0.1);
}
.layout_post {
  min-height: 150px;
  height: 150px;
  margin-bottom: 0;
}
.footer-developer-copyright {
  width: 300px;
  height: 54px;
  margin-top: 25px;
  float: right;
}
.footer-developer-copyright:before,
.footer-developer-copyright:after {
  content: " ";
  display: table;
}
.footer-developer-copyright:after {
  clear: both;
}
.footer-developer-copyright:before,
.footer-developer-copyright:after {
  content: " ";
  display: table;
}
.footer-developer-copyright:after {
  clear: both;
}
.footer-developer-copyright__links {
  width: 140px;
  height: 40px;
  margin-top: 10px;
  float: left;
  color: #9c9c9c;
  font-size: 14px;
  line-height: 1.5;
}
.footer-developer-copyright__link {
  border-bottom: 1px solid transparent;
  transition: border-bottom ease-in-out 0.3s;
}
.footer-developer-copyright__link:hover {
  border-bottom: 1px solid #9c9c9c;
  transition: border-bottom ease-in-out 0.1s;
}
.footer-developer-copyright__logo {
  float: right;
}
.footer-developer-copyright__logo-link {
  position: relative;
  display: block;
  width: 149px;
  height: 54px;
  background: url('../img/spritesheet.png') -5px -5px no-repeat;
}
.footer-developer-copyright__logo-link:after {
  content: '';
  position: absolute;
  width: 149px;
  height: 54px;
  background: url('../img/spritesheet.png') -5px -69px no-repeat;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.footer-developer-copyright__logo-link:hover:after {
  opacity: 1;
}
.footer-phones {
  margin-top: 25px;
  float: left;
}
.footer-phones:before,
.footer-phones:after {
  content: " ";
  display: table;
}
.footer-phones:after {
  clear: both;
}
.footer-phones:before,
.footer-phones:after {
  content: " ";
  display: table;
}
.footer-phones:after {
  clear: both;
}
