extends layout.pug

block content

  h1 Heading

  .row.cat-items-list
    - n = 0;
    while n < 6
      .col.s12.m6.l3
        .card.hoverable
          .card-image
            a(href='#!')
              img(src=img)
          .card-content
            a(href='#!')
              span.card-title= 'Card Title ' + ++n
            p I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.
            .card-prop
              dl
                dt Key
                dd Value
              dl
                dt Key
                dd Value
            .card-price 1000 &#8381;
              // for dollar &#36;
          .card-action
            a(href='#!' class='waves-effect waves-light btn') Button

  include pagination.pug