li
  a(href='index.html') Каталог
li
  a(href='cat-items-list.html') Товары
li
  a(href='product-page.html') Карточка товара
li
  a(href='compare-page.html') Сравнение

- n = 4;
while n < 5
  li
    a(href='#!')= 'Link ' + ++n